header {
    width: auto;
    height: 50px;
    right: 2.5rem;
    top: 2.5rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: black;
    padding: 0 5rem;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
    nav ul {
        display: flex;
        gap: 2rem;
    }
    a {
        color: white;
        transition: 0.3s ease-in-out;
        font-size: 1.5rem;
        &:hover {
            opacity: 0.5;
        }
    }
}

.active {
    color: red;
}