.bag {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 5rem;
    flex-direction: column;
    .container {
        display: flex;
        flex-wrap: wrap;

    }
    .item {
        width: 200px;
        height: 200px;
        margin: 1rem;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
    }
}

.bag__container {
    position: relative;
    height: auto;
    .item {
        filter: none;
    }
}