.catched {
    animation: fadeText 2s ease-in-out;
    position: absolute;
    bottom: 10rem;
    @keyframes fadeText {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

.catched__item {
    animation: fadeImg 0.3s ease-in-out both;
    @keyframes fadeImg {
        0% {
            transform: scaleY(1);
        }
        50% {
            transform: scaleX(0.5);
        }
        100% {
            transform: scaleY(0);
        }
    }
}